# Firebase Configuration (for live Google Sign-In & Cloud Firestore)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBpUyspKBfWPgSG26NQu1BTS7FHGkJfp4I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=icitworkspace.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=icitworkspace
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=icitworkspace.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=150914589632
NEXT_PUBLIC_FIREBASE_APP_ID=1:150914589632:web:1325f9fe53d54ee0e49e25
